# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/

# Visual Studio / Rider
.vscode/
.idea/
*.csproj
*.sln
*.user
*.pidb
*.booproj

# OS junk
.DS_Store
Thumbs.db

# Backup / cache
*.bak
*.tmp
*.svd

# Do not commit built APKs
*.apk

# Packages cache
Packages/com.unity.package-manager.cache/
